In [46]:
! pip install ipykernel

Requirement already satisfied: ipykernel in c:\users\mk744\appdata\roaming\python\python310\site-packages (6.25.2)
Requirement already satisfied: comm>=0.1.1 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel) (0.1.4)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel) (1.8.0)
Requirement already satisfied: ipython>=7.23.1 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel) (8.15.0)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel) (8.3.1)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel) (5.3.1)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel) (0.1.6)
Requirement already satisfied: nest-asyncio in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel) (1.5.7)
Requirement already satisfied: packaging in c:\users\mk744\onedrive - poornima university\desktop\identifygender\venv\lib\site-packages (from ipykernel) (24.2)
Requirement already satisfied: psutil in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel) (5.9.5)
Requirement already satisfied: pyzmq>=20 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel) (25.1.1)
Requirement already satisfied: tornado>=6.1 in c:\users\mk744\onedrive - poornima university\desktop\identifygender\venv\lib\site-packages (from ipykernel) (6.4.2)
Requirement already satisfied: traitlets>=5.4.0 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipykernel) (5.10.0)
Requirement already satisfied: backcall in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipython>=7.23.1->ipykernel) (0.2.0)
Requirement already satisfied: decorator in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipython>=7.23.1->ipykernel) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipython>=7.23.1->ipykernel) (0.19.0)
Requirement already satisfied: pickleshare in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipython>=7.23.1->ipykernel) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipython>=7.23.1->ipykernel) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in c:\users\mk744\onedrive - poornima university\desktop\identifygender\venv\lib\site-packages (from ipython>=7.23.1->ipykernel) (2.15.1)
Requirement already satisfied: stack-data in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipython>=7.23.1->ipykernel) (0.6.2)
Requirement already satisfied: exceptiongroup in c:\users\mk744\appdata\roaming\python\python310\site-packages (from ipython>=7.23.1->ipykernel) (1.1.3)
Requirement already satisfied: colorama in c:\users\mk744\onedrive - poornima university\desktop\identifygender\venv\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.4.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mk744\onedrive - poornima university\desktop\identifygender\venv\lib\site-packages (from jupyter-client>=6.1.12->ipykernel) (2.9.0.post0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\mk744\onedrive - poornima university\desktop\identifygender\venv\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel) (306)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\mk744\appdata\roaming\python\python310\site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=7.23.1->ipykernel) (0.2.6)
Requirement already satisfied: six>=1.5 in c:\users\mk744\onedrive - poornima university\desktop\identifygender\venv\lib\site-packages (from python-dateutil>=2.8.2->jupyter-client>=6.1.12->ipykernel) (1.16.0)
Requirement already satisfied: executing>=1.2.0 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\mk744\appdata\roaming\python\python310\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (2.4.0)
Requirement already satisfied: pure-eval in c:\users\mk744\appdata\roaming\python\python310\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (0.2.2)

In [47]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\mk744\onedrive - poornima university\desktop\identifygender\venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\mk744\onedrive - poornima university\desktop\identifygender\venv\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mk744\onedrive - poornima university\desktop\identifygender\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mk744\onedrive - poornima university\desktop\identifygender\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mk744\onedrive - poornima university\desktop\identifygender\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\mk744\onedrive - poornima university\desktop\identifygender\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [48]:
import pandas as pd

In [49]:
df = pd.read_csv('data/Gender.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Favorite Color        66 non-null     object
 1   Favorite Music Genre  66 non-null     object
 2   Favorite Beverage     66 non-null     object
 3   Favorite Soft Drink   66 non-null     object
 4   Gender                66 non-null     object
dtypes: object(5)
memory usage: 2.7+ KB

In [50]:
df.isnull().sum()

Favorite Color          0
Favorite Music Genre    0
Favorite Beverage       0
Favorite Soft Drink     0
Gender                  0
dtype: int64

In [51]:
df.duplicated().sum()

np.int64(4)

In [52]:
df = df.drop_duplicates()
df

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
0,Cool,Rock,Vodka,7UP/Sprite,F
1,Neutral,Hip hop,Vodka,Coca Cola/Pepsi,F
2,Warm,Rock,Wine,Coca Cola/Pepsi,F
3,Warm,Folk/Traditional,Whiskey,Fanta,F
4,Cool,Rock,Vodka,Coca Cola/Pepsi,F
...,...,...,...,...,...
59,Cool,Pop,Whiskey,Other,M
60,Cool,Electronic,Whiskey,Coca Cola/Pepsi,M
63,Neutral,Hip hop,Doesn't drink,Fanta,M
64,Cool,Rock,Wine,Coca Cola/Pepsi,M
65,Cool,Electronic,Beer,Coca Cola/Pepsi,M

In [53]:
df.columns.tolist()

['Favorite Color',
 'Favorite Music Genre',
 'Favorite Beverage',
 'Favorite Soft Drink',
 'Gender']

In [54]:
df['Favorite Color'].unique()

array(['Cool', 'Neutral', 'Warm'], dtype=object)

In [55]:
df['Favorite Color'].value_counts().reset_index(name='counts').sort_values(by = 'counts', ascending=False)

  Favorite Color  counts
0           Cool      33
1           Warm      22
2        Neutral       7

In [56]:
import pandas as pd

Color_map = {
    "Neutral": 1,
    "Warm": 2,
    "Cool": 3
}
    
df_Color = pd.DataFrame(list(Color_map.items()), columns=['Favorite Color', 'Value'])
df_Color

  Favorite Color  Value
0        Neutral      1
1           Warm      2
2           Cool      3

In [57]:
df['Favorite Beverage'].unique()

array(['Vodka', 'Wine', 'Whiskey', "Doesn't drink", 'Beer', 'Other'],
      dtype=object)

In [58]:
df['Favorite Beverage'].value_counts().reset_index(name='counts').sort_values(by = 'counts', ascending=False)

  Favorite Beverage  counts
0     Doesn't drink      14
1              Beer      12
2             Other      10
3              Wine      10
4           Whiskey       9
5             Vodka       7

In [59]:
import pandas as pd

Beverage_map = {
    "Vodka": 1,
    "Whiskey": 2,
    "Wine": 3,
    "Other": 3,
    "Beer": 4,
    "Doesn't drink": 5
}
    
df_Beverage = pd.DataFrame(list(Beverage_map.items()), columns=['Favorite Beverage', 'Value'])
df_Beverage

  Favorite Beverage  Value
0             Vodka      1
1           Whiskey      2
2              Wine      3
3             Other      3
4              Beer      4
5     Doesn't drink      5

In [60]:
df['Favorite Music Genre'].unique()

array(['Rock', 'Hip hop', 'Folk/Traditional', 'Jazz/Blues', 'Pop',
       'Electronic', 'R&B and soul'], dtype=object)

In [61]:
df['Favorite Music Genre'].value_counts().reset_index(name='counts').sort_values(by = 'counts', ascending=False)

  Favorite Music Genre  counts
0                  Pop      17
1                 Rock      16
2           Electronic       8
3              Hip hop       7
4         R&B and soul       6
5     Folk/Traditional       4
6           Jazz/Blues       4

In [62]:
import pandas as pd

Music_map = {
    "Jazz/Blues": 1,
    "Folk/Traditional": 1,
    "R&B and soul": 2,
    "Hip hop": 3,
    "Electronic": 4,
    "Rock": 5,
    "Pop":6
}
    
df_Music = pd.DataFrame(list(Music_map.items()), columns=['Favorite Music Genre', 'Value'])
df_Music

  Favorite Music Genre  Value
0           Jazz/Blues      1
1     Folk/Traditional      1
2         R&B and soul      2
3              Hip hop      3
4           Electronic      4
5                 Rock      5
6                  Pop      6

In [63]:
df['Favorite Soft Drink'].unique()

array(['7UP/Sprite', 'Coca Cola/Pepsi', 'Fanta', 'Other'], dtype=object)

In [64]:
df['Favorite Soft Drink'].value_counts().reset_index(name='counts').sort_values(by = 'counts', ascending=False)

  Favorite Soft Drink  counts
0     Coca Cola/Pepsi      28
1               Fanta      14
2          7UP/Sprite      13
3               Other       7

In [65]:
import pandas as pd

Drink_map= {
    "Other": 1,
    "7UP/Sprite": 2,
    "Fanta": 3,
    "Coca Cola/Pepsi": 4,
}
    
df_Drink = pd.DataFrame(list(Drink_map.items()), columns=['Favorite Soft Drink', 'Value'])
df_Drink

  Favorite Soft Drink  Value
0               Other      1
1          7UP/Sprite      2
2               Fanta      3
3     Coca Cola/Pepsi      4

In [66]:
df.columns

Index(['Favorite Color', 'Favorite Music Genre', 'Favorite Beverage',
       'Favorite Soft Drink', 'Gender'],
      dtype='object')

In [67]:
import warnings
warnings.filterwarnings('ignore')
df['Favorite Color'] = df['Favorite Color'].map(Color_map)
df['Favorite Music Genre'] = df['Favorite Music Genre'].map(Music_map)
df['Favorite Beverage'] = df['Favorite Beverage'].map(Beverage_map)
df['Favorite Soft Drink'] = df['Favorite Soft Drink'].map(Drink_map)
df

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
0,3,5,1,2,F
1,1,3,1,4,F
2,2,5,3,4,F
3,2,1,2,3,F
4,3,5,1,4,F
...,...,...,...,...,...
59,3,6,2,1,M
60,3,4,2,4,M
63,1,3,5,3,M
64,3,5,3,4,M
65,3,4,4,4,M